function peco-cd() {
  which peco >/dev/null 2>&1 || {
    echo "error: peco is not found"
    return 1
  }

  item=$( (
    cat ~/.zshrc.d/peco-cd.txt
    ghq list --full-path
  ) | peco | head -n 1)

  if [ ! "${item}x" = "x" ]; then
    cd "${item}"
    BUFFER=""
    zle accept-line
  fi
}

zle -N peco-cd
bindkey "^[s" peco-cd
