function peco-ghq-cd() {
  which peco > /dev/null 2>&1 || {
    echo "error: peco is not found"
    exit 1
  }
  dir=$(ghq list --full-path | peco)
  if [ ! "${dir}x" = "x" ]; then
    cd "${dir}"
  fi
}

zle -N peco-ghq-cd
bindkey "^[g" peco-ghq-cd
