function peco-cd() {
  which peco > /dev/null 2>&1 || {
    echo "error: peco is not found"
    return 1
  }

  dir=$((
    cat ~/.zshrc.d/peco-cd.txt
    ghq list --full-path
  ) | peco)

  if [ ! "${dir}x" = "x" ]; then
    cd "${dir}"
  fi
}

zle -N peco-cd
bindkey "^[s" peco-cd
