[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git.hooks.d
	quotepath = false

[init]
	defaultBranch = main

[color]
	ui = auto

[pull]
	rebase = false
	ff = only

[push]
	default = current

[log]
	date = iso

[grep]
	lineNumber = true

[diff]
	renames = true
	renameLimit = 0

[alias]
	rpo = remote prune origin

	st = status
	ss = status -s

	ba = branch -a
	bm = branch --merged
	br = branch -r

	co = checkout
	cb = checkout -b

	di = diff
	dm = diff master
	dw = diff --word-diff
	dc = diff --cached
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~

	ls = log --stat
	lp = log -p

	hist = log --graph --date=iso --pretty='format:%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(green)<%an>%C(reset)'

	mergeable = !git format-patch --stdout $(git rev-parse --abbrev-ref HEAD)..$(git rev-parse --abbrev-ref ${1}) | git apply --check && echo ok

[ghq]
	root = ~/go/src
	root = ~/repos/src

[include]
	path = ~/.gitconfig_local
